// Custom color variables
$pampas: #f9f5ec; // Background for light designs
$martini: #d1c9b7; // Light accent
$flamingo: #f65129; // Primary brand color
$pale-oyster: #e8c9b0; // Dark accent
$balitic-sea: #201e26; // Dark shades

// Bootstrap color variables
$primary: $flamingo; // Primary
$info: $balitic-sea; // Info
$success: #7f9344; // Success
$warning: #fc830c; // Warning
$danger: #f44336; // Danger


@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/bootstrap";

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: darken($primary, 10%); // Darken for hover effect
    }
}

.alert-info {
    background-color: $info;
    color: $pampas; // Assuming you want a light text color for dark backgrounds
}

// Example for card background
.card {
    background-color: $pampas;
    color: $balitic-sea;
}

body {
    background-color: $pampas;
    color: $balitic-sea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $flamingo; // Use your main brand color for headings
}